<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>6vkusov-mobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60AE6AC51E5DC102004A39F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60AE6AD91E5DC102004A39F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60AE6AE41E5DC102004A39F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
